

<div class="container">
  <div class="ally_heroes">
      <div class="hero">
        hero 1
      </div>
      <div class="hero">
        hero 2
      </div>
      <div class="hero">
        hero 3
      </div>
      <div class="hero">
        hero 4
      </div>
      <div class="hero">
        hero 5
      </div>
  </div>
  <div class="main">
    <div class="header">
      <h1>Escolha seu campeão</h1>
    </div>
    <div class="role_filter">
      <button (click)="filterByRole('')">
        <div>all</div>
      </button>
      <button (click)="filterByRole('Fighter')">
        <div>fighter</div>
      </button>
      <button (click)="filterByRole('Tank')">
        <div>tank</div>
      </button>
      <button (click)="filterByRole('Mage')">
        <div>mage</div>
      </button>
      <button (click)="filterByRole('Assassin')">
        <div>assassin</div>
      </button>
      <button (click)="filterByRole('Suporte')">
        <div>suporte</div>
      </button>
      <button (click)="filterByRole('Marksman')">
        <div>marksman</div>
      </button>
    </div>
    <div class="champion_list">
      @for (hero of dinamicHeroList; track hero.name) {
        <button (click)="showName(hero.name)">
          <img [src]="hero.imgSrc" [alt]="hero.name">
          <p>{{ hero.name }}</p>
        </button>
      }
    </div>
  </div>
  <div class="enemy_heroes">
      enemy heroes
  </div>
</div>


